[user]
    name = aoshiman
    email = men.katame.nori.oome@gmail.com

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore

[alias]
    oneline = log --graph --date=short --pretty='%C(yellow)%h%Creset %C(cyan bold)%d%Creset %s %Cgreen[%cd]%Creset' --decorate
    co = checkout
    br = branch
    ba = branch -a


