[user]
    name = aoshiman
    email = men.katame.nori.oome@gmail.com

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore

[alias]
    #status
    st = status
    s = status

    #pull/push/fetch
    ft = fetch

    #log
    ol = log --graph --date=short --pretty='%C(yellow)%h%Creset %C(cyan bold)%d%Creset %s %Cgreen[%cd]%Creset' --decorate

    #commit
    ad = add
    a = add
    cm = commit
    co = checkout

    #branch
    br = branch
    ba = branch -a

    #stash
    sl = stash list
    slp = stash list -p
    sp = stash pop
    ss = stash save

